@using HospitalF.Constant
@model HospitalF.Models.HomeModels

<script src="@Url.Content("~/Content/js/libs/jquery-2.0.2.min.js")" type="text/javascript"></script>

@*AJAX for cascading District and Disease drop down list*@
<script type="text/javascript">
    @*AJAX for cascading District drop down list*@
    $(function () {
        $("#CityID").change(function () {
            var selectedItem = $(this).val();
            var ddlDistrict = $("#DistrictID");
            var statesProgress = $("#states-loading-district-progress");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetDistrictByCity"))",
                data: { "cityId": selectedItem },
                success: function (data) {
                    ddlDistrict.html('');
                    $.each(data, function (id, option) {
                        ddlDistrict.append($('<option></option>').val(option.DistrictID).html(option.DistrictName));
                    });
                    statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    statesProgress.hide();
                }
            });
        });
    });

    @*AJAX for cascading Disease drop down list*@
    $(function () {
        $("#SpecialityID").change(function () {
            var selectedItem = $(this).val();
            var ddlDisease = $("#DiseaseID");
            var statesProgress = $("#states-loading-disease-progress");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetDeseaseBySpeciality"))",
                data: { "specialityId": selectedItem },
                success: function (data) {
                    ddlDisease.html('');
                    $.each(data, function (id, option) {
                        ddlDisease.append($('<option></option>').val(option.DiseaseID).html(option.DiseaseName));
                    });
                    statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    statesProgress.hide();
                }
            });
        });
    });
</script>

@using (Html.BeginForm(Constants.IndexMethod, Constants.HomeController, FormMethod.Post))
{
    <div id="content" class="col-md-8 col-md-offset-2">

        <div id="main-logo">
            <img src="../Content/img/hospital-icon.png" style="visibility: hidden; width: 25%; height: 25%;" />
        </div>

        <div class="well">
            <ul id="myTab1" class="nav nav-tabs bordered">
                <li class="active">
                    <a href="#s1" data-toggle="tab"><i class="fa fa-fw fa-lg fa-search"></i>Tìm Kiếm Cơ Bản</a>
                </li>
                <li>
                    <a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-lg fa-plus-square"></i>Tìm Kiếm Nâng Cao</a>
                </li>
                <li>
                    <a href="#s3" data-toggle="tab"><i class="fa fa-fw fa-lg fa-crosshairs"></i>Tìm Kiếm Theo Vị Trí</a>
                </li>
            </ul>

            <div id="myTabContent1" class="tab-content padding-10">
                <div class="tab-pane fade in active" id="s1">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>Nhập từ khóa về bệnh viện</legend>
                        </fieldset>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.SearchValue, new { @class = "form-control", @placeholder = "Nhập thông tin tìm kiếm...", @list = "list" })
                            <datalist id="list">
                                <option value="Chợ Rẫy">Chợ Rẫy</option>
                                <option value="Nhi Đồng">Nhi Đồng</option>
                                <option value="Chấn Thương Chỉnh Hình">Chấn Thương Chỉnh Hình</option>
                                <option value="Bệnh Viện Mắt">Bệnh Viện Mắt</option>
                            </datalist>
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-primary" type="submit">
                                    <i class="fa fa-search"></i>&nbsp;Tìm Kiếm
                                </button>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.SearchValue)
                        <p class="note"><strong>Ví dụ:</strong> chuyên khoa, tên bệnh viện, địa điểm...</p>
                    </form>
                </div>

                <div class="tab-pane fade" id="s2">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>Nhập thông tin bệnh viện</legend>
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label class="control-label col-md-4" for="prepend">Tỉnh Thành</label>
                                    <div class="col-md-8">
                                        <div class="icon-addon addon-sm">
                                            @Html.DropDownListFor(m => m.CityID, (SelectList)ViewBag.CityList,
                                                Constants.RequireCity, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.CityID)
                                            <label class="glyphicon glyphicon-globe" title="Tỉnh thành"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label col-md-4" for="prepend">Quận</label>
                                    <div class="col-md-8">
                                        <div class="icon-addon addon-sm">
                                            @Html.DropDownListFor(m => m.DistrictID, (SelectList)ViewBag.DistrictList,
                                                Constants.RequireDistrict, new { @class = "form-control" })
                                            <label class="glyphicon glyphicon-road" rel="tooltip" title="Quận"></label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label class="control-label col-md-4" for="prepend">Chuyên Khoa</label>
                                    <div class="col-md-8">
                                        <div class="icon-addon addon-sm">
                                            @Html.DropDownListFor(m => m.SpecialityID, (SelectList)ViewBag.SpecialityList,
                                                Constants.RequireSpeciality, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.SpecialityID)
                                            <label class="glyphicon glyphicon-plus" title="Chuyên khoa"></label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group col-md-6">
                                    <label class="control-label col-md-4" for="prepend">Triệu Chứng</label>
                                    <div class="col-md-8">
                                        <div class="icon-addon addon-sm">
                                            <input class="form-control" type="text" placeholder="Triệu chứng..." list="list-condition">
                                            <datalist id="list-condition">
                                                <option value="Viêm Họng Cấp">Viêm Họng Cấp</option>
                                                <option value="Viêm Mũi Dị Ứng">Viêm Mũi Dị Ứng</option>
                                                <option value="Viêm Xoang">Viêm Xoang</option>
                                            </datalist>
                                            @Html.DropDownListFor(m => m.DiseaseID, (SelectList)ViewBag.DiseaseList,
                                                    Constants.RequireDisease, new { @list = "list-condition" })
                                            <label class="glyphicon glyphicon-plus-sign" title="Triệu chứng"></label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row pull-right">
                                <div class="col-md-12">
                                    <button class="btn btn-default" type="reset">
                                        <i class="fa fa-eraser"></i>&nbsp;
                                        Nhập Lại
                                    </button>
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i>&nbsp;Tìm Kiếm
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane fade" id="s3">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>Nhập thông tin vị trí</legend>
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label class="control-label col-md-4" for="prepend">Tìm Theo</label>
                                    <div class="col-md-8">
                                        <div class="icon-addon addon-sm">
                                            <select class="form-control">
                                                <option>Vị trí hiện tại</option>
                                                <option>Nhập vị trí</option>
                                            </select>
                                            <label class="glyphicon glyphicon-list" title="Tìm Theo"></label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group col-md-6">
                                    <label class="control-label col-md-4" for="prepend">Vị trí</label>
                                    <div class="col-md-8">
                                        <div class="icon-addon addon-sm">
                                            <input class="form-control" type="text" placeholder="Vị trí cần tìm...">
                                            <label class="glyphicon glyphicon-pushpin" title="Vị Trí Cần Tìm"></label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row pull-right">
                                <div class="col-md-12">
                                    <button class="btn btn-default" type="reset">
                                        <i class="fa fa-eraser"></i>&nbsp;
                                        Nhập Lại
                                    </button>
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i>&nbsp;
                                        Tìm Kiếm
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
}