@using HospitalF.Constant;

@model HospitalF.Models.HospitalModel
@{
    ViewBag.Title = "Thêm mới bệnh viện";
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-pencil-square-o fa-fw "></i>
            Thêm mới bệnh viện
            <span>
                >
                Nhập liệu
            </span>
        </h1>
    </div>
</div>

<div class="alert alert-block alert-success">
    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Nhập thông tin</h4>
    <p>
        Điền những thông tin cần thiết vào bản mẫu. Sau đó ấn xác nhận để tạo bệnh viện mới.
    </p>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-0"
                 data-widget-colorbutton="false"
                 data-widget-editbutton="false"
                 data-widget-togglebutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-custombutton="false"
                 data-widget-collapsed="false"
                 data-widget-sortable="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Thông tin bệnh viện</h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body">

                        @using (Html.BeginForm(Constants.AddHospitalAction, Constants.HospitalController, FormMethod.Get, new { @class = "form-horizontal", @id = "add-hospital-form" }))
                        {

                            <fieldset>
                                <legend>Thông tin cơ bản</legend>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Tên bệnh viện</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.HospitalName, new
                                         {
                                             @placeholder = "Nhập tên bệnh viện",
                                             @class = "form-control"
                                         })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Kiểu dịch vụ</label>
                                    <div class="col-md-10">
                                        <label class="select">
                                            @Html.DropDownList("HospitalTypeID", (SelectList)ViewBag.HospitalTypeList,
                                                    new { @class = "form-control" })
                                            <i></i>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Địa chỉ</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Address, new
                                         {
                                             @placeholder = "Địa chỉ và tên đường",
                                             @class = "form-control"
                                         })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Thành phố</label>
                                    <div class="col-md-10">
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.CityID, (SelectList)ViewBag.CityList,
                                                    Constants.RequireCity, new { @class = "form-control" })
                                            <i></i>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Quận / Huyện</label>
                                    <div class="col-md-10">
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.DistrictID, (SelectList)ViewBag.DistrictList,
                                                    Constants.RequireDistrict, new { @class = "form-control" })
                                            <i></i>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Phường / Xã</label>
                                    <div class="col-md-10">
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.WardID, (SelectList)ViewBag.WardList,
                                                    Constants.RequireWard, new { @class = "form-control" })
                                            <i></i>
                                        </label>
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset>
                                <legend>Unstyled Checkbox</legend>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Checkbox default</label>
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Checkbox 1
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Checkbox 2
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Checkbox 3
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Inline</label>
                                    <div class="col-md-10">
                                        <label class="checkbox-inline">
                                            <input type="checkbox">
                                            Checkbox 2
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox">
                                            Checkbox 2
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox">
                                            Checkbox 3
                                        </label>
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset>
                                <legend>Unstyled Radiobox</legend>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Radios default</label>
                                    <div class="col-md-10">
                                        <div class="radio">
                                            <label>
                                                <input type="radio">
                                                Radiobox 1
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio">
                                                Radiobox 2
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio">
                                                Radiobox 3
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Inline</label>
                                    <div class="col-md-10">
                                        <label class="radio radio-inline">
                                            <input type="radio">
                                            Radiobox 1
                                        </label>
                                        <label class="radio radio-inline">
                                            <input type="radio">
                                            Radiobox 2
                                        </label>
                                        <label class="radio radio-inline">
                                            <input type="radio">
                                            Radiobox 3
                                        </label>
                                    </div>
                                </div>



                            </fieldset>

                            <fieldset>
                                <legend>File inputs</legend>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">File input</label>
                                    <div class="col-md-10">
                                        <input type="file" class="btn btn-default" id="exampleInputFile1">
                                        <p class="help-block">
                                            some help text here.
                                        </p>
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset class="demo-switcher-1">
                                <legend>Styled Checkbox and Radiobox</legend>

                                <span class="toggle-demo">
                                    <span>Styles: </span>
                                    <span class="btn-group btn-group-justified" data-toggle="buttons">
                                        <label class="btn btn-default btn-xs active">
                                            <input type="radio" name="demo-switcher-1" id="style-0"> 1
                                        </label>
                                        <label class="btn btn-default btn-xs">
                                            <input type="radio" name="demo-switcher-1" id="style-1"> 2
                                        </label>
                                        <label class="btn btn-default btn-xs">
                                            <input type="radio" name="demo-switcher-1" id="style-2"> 3
                                        </label>
                                        <label class="btn btn-default btn-xs">
                                            <input type="radio" name="demo-switcher-1" id="style-3"> 4
                                        </label>
                                    </span>
                                </span>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Checkbox Styles</label>
                                    <div class="col-md-10">

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="checkbox style-0" checked="checked">
                                                <span>Checkbox 1</span>
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="checkbox style-0">
                                                <span>Checkbox 2</span>
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="checkbox style-0">
                                                <span>Checkbox 3</span>
                                            </label>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Inline</label>
                                    <div class="col-md-10">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="checkbox style-0">
                                            <span>Checkbox 1</span>
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="checkbox style-0">
                                            <span>Checkbox 2</span>
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="checkbox style-0">
                                            <span>Checkbox 3</span>
                                        </label>
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset class="demo-switcher-1">
                                <legend></legend>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Radios Styles</label>
                                    <div class="col-md-10">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" class="radiobox style-0" checked="checked" name="style-0">
                                                <span>Radiobox 1</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" class="radiobox style-0" name="style-0">
                                                <span>Radiobox 2</span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" class="radiobox style-0" name="style-0">
                                                <span>Radiobox 3</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Inline</label>
                                    <div class="col-md-10">
                                        <label class="radio radio-inline">

                                            <input type="radio" class="radiobox" name="style-0a">
                                            <span>Radiobox 1</span>

                                        </label>
                                        <label class="radio radio-inline">
                                            <input type="radio" class="radiobox" name="style-0a">
                                            <span>Radiobox 2</span>
                                        </label>
                                        <label class="radio radio-inline">
                                            <input type="radio" class="radiobox" name="style-0a">
                                            <span>Radiobox 3</span>
                                        </label>
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset>
                                <legend>Unstyled Select</legend>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="select-1">Select</label>
                                    <div class="col-md-10">

                                        <select class="form-control" id="select-1">
                                            <option>Amsterdam</option>
                                            <option>Atlanta</option>
                                            <option>Baltimore</option>
                                            <option>Boston</option>
                                            <option>Buenos Aires</option>
                                            <option>Calgary</option>
                                            <option>Chicago</option>
                                            <option>Denver</option>
                                            <option>Dubai</option>
                                            <option>Frankfurt</option>
                                            <option>Hong Kong</option>
                                            <option>Honolulu</option>
                                            <option>Houston</option>
                                            <option>Kuala Lumpur</option>
                                            <option>London</option>
                                            <option>Los Angeles</option>
                                            <option>Melbourne</option>
                                            <option>Mexico City</option>
                                            <option>Miami</option>
                                            <option>Minneapolis</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="multiselect1">Multiple select</label>
                                    <div class="col-md-10">
                                        <select multiple="multiple" id="multiselect1" class="form-control custom-scroll" title="Click to Select a City">
                                            <option>Amsterdam</option>
                                            <option selected="selected">Atlanta</option>
                                            <option>Baltimore</option>
                                            <option>Boston</option>
                                            <option>Buenos Aires</option>
                                            <option>Calgary</option>
                                            <option selected="selected">Chicago</option>
                                            <option>Denver</option>
                                            <option>Dubai</option>
                                            <option>Frankfurt</option>
                                            <option>Hong Kong</option>
                                            <option>Honolulu</option>
                                            <option>Houston</option>
                                            <option>Kuala Lumpur</option>
                                            <option>London</option>
                                            <option>Los Angeles</option>
                                            <option>Melbourne</option>
                                            <option>Mexico City</option>
                                            <option>Miami</option>
                                            <option>Minneapolis</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Input States</legend>

                                <div class="form-group has-warning">
                                    <label class="col-md-2 control-label">Input warning</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control" type="text">
                                            <span class="input-group-addon"><i class="fa fa-warning"></i></span>
                                        </div>
                                        <span class="help-block">Something may have gone wrong</span>
                                    </div>

                                </div>

                                <div class="form-group has-error">
                                    <label class="col-md-2 control-label">Input error</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input class="form-control" type="text">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-remove-circle"></i></span>
                                        </div>
                                        <span class="help-block"><i class="fa fa-warning"></i> Please correct the error</span>
                                    </div>
                                </div>

                                <div class="form-group has-success">
                                    <label class="col-md-2 control-label">Input success</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                            <input class="form-control" type="text">
                                            <span class="input-group-addon"><i class="fa fa-check"></i></span>
                                        </div>
                                        <span class="help-block">Something may have gone wrong</span>
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset>
                                <legend>Input sizes</legend>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Extra Small Input</label>
                                    <div class="col-md-10">
                                        <input class="form-control input-xs" placeholder=".input-xs" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Small Input</label>
                                    <div class="col-md-10">
                                        <input class="form-control input-sm" placeholder=".input-sm" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Default Input</label>
                                    <div class="col-md-10">
                                        <input class="form-control" placeholder="Default input" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Large Input</label>
                                    <div class="col-md-10">
                                        <input class="form-control input-lg" placeholder=".input-lg" type="text">
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset>
                                <legend>Select Sizes</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Small Select</label>
                                    <div class="col-md-10">
                                        <select class="form-control input-sm">
                                            <option>Amsterdam</option>
                                            <option>Atlanta</option>
                                            <option>Baltimore</option>
                                            <option>Boston</option>
                                            <option>Buenos Aires</option>
                                            <option>Calgary</option>
                                            <option>Chicago</option>
                                            <option>Denver</option>
                                            <option>Dubai</option>
                                            <option>Frankfurt</option>
                                            <option>Hong Kong</option>
                                            <option>Honolulu</option>
                                            <option>Houston</option>
                                            <option>Kuala Lumpur</option>
                                            <option>London</option>
                                            <option>Los Angeles</option>
                                            <option>Melbourne</option>
                                            <option>Mexico City</option>
                                            <option>Miami</option>
                                            <option>Minneapolis</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Default Select</label>
                                    <div class="col-md-10">
                                        <select class="form-control">
                                            <option>Amsterdam</option>
                                            <option>Atlanta</option>
                                            <option>Baltimore</option>
                                            <option>Boston</option>
                                            <option>Buenos Aires</option>
                                            <option>Calgary</option>
                                            <option>Chicago</option>
                                            <option>Denver</option>
                                            <option>Dubai</option>
                                            <option>Frankfurt</option>
                                            <option>Hong Kong</option>
                                            <option>Honolulu</option>
                                            <option>Houston</option>
                                            <option>Kuala Lumpur</option>
                                            <option>London</option>
                                            <option>Los Angeles</option>
                                            <option>Melbourne</option>
                                            <option>Mexico City</option>
                                            <option>Miami</option>
                                            <option>Minneapolis</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Large Select</label>
                                    <div class="col-md-10">
                                        <select class="form-control input-lg">
                                            <option>Amsterdam</option>
                                            <option>Atlanta</option>
                                            <option>Baltimore</option>
                                            <option>Boston</option>
                                            <option>Buenos Aires</option>
                                            <option>Calgary</option>
                                            <option>Chicago</option>
                                            <option>Denver</option>
                                            <option>Dubai</option>
                                            <option>Frankfurt</option>
                                            <option>Hong Kong</option>
                                            <option>Honolulu</option>
                                            <option>Houston</option>
                                            <option>Kuala Lumpur</option>
                                            <option>London</option>
                                            <option>Los Angeles</option>
                                            <option>Melbourne</option>
                                            <option>Mexico City</option>
                                            <option>Miami</option>
                                            <option>Minneapolis</option>
                                        </select>
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset>
                                <legend>Prepend &amp; Append</legend>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="prepend">Prepended Input</label>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"></span>
                                                    <input class="form-control" id="prepend" placeholder="Username" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="prepend">W/ input &amp; radios</label>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="checkbox style-0" checked="checked">
                                                                <span></span>
                                                            </label>
                                                        </span>
                                                    </span>
                                                    <input class="form-control" placeholder="" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2"></label>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <input class="form-control" placeholder="With switch" type="text">
                                                    <span class="input-group-addon">
                                                        <span class="onoffswitch">
                                                            <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st3">
                                                            <label class="onoffswitch-label" for="st3">
                                                                <span class="onoffswitch-inner" data-swchon-text="YES" data-swchoff-text="NO"></span>
                                                                <span class="onoffswitch-switch"></span>
                                                            </label>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2"></label>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="radio">
                                                            <label>
                                                                <input type="radio" class="radiobox style-0" name="style-0a2">
                                                                <span> Left</span>
                                                            </label>
                                                        </span>
                                                    </span>
                                                    <input class="form-control" placeholder="" type="text">
                                                    <span class="input-group-addon">
                                                        <span class="radio">
                                                            <label>
                                                                <input type="radio" class="radiobox style-0" name="style-0a2">
                                                                <span> Right</span>
                                                            </label>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="append">Appended Input</label>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <input class="form-control" id="append" type="text">
                                                    <span class="input-group-addon">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="appendprepend">Combined</label>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input class="form-control" id="appendprepend" type="text">
                                                    <span class="input-group-addon">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="appendbutton">With buttons</label>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <input class="form-control" id="appendbutton" type="text">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default" type="button">
                                                            Search
                                                        </button>
                                                        <button class="btn btn-default" type="button">
                                                            Options
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">With dropdowns</label>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-default" tabindex="-1">Action</button>
                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            <li><a href="javascript:void(0);">Action</a></li>
                                                            <li><a href="javascript:void(0);">Another action</a></li>
                                                            <li><a href="javascript:void(0);">Something else here</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:void(0);">Cancel</a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2"></label>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="input-group">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-default" tabindex="-1">Action</button>
                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="javascript:void(0);">Action</a></li>
                                                            <li><a href="javascript:void(0);">Another action</a></li>
                                                            <li><a href="javascript:void(0);">Something else here</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:void(0);">Cancel</a></li>
                                                        </ul>
                                                    </div>
                                                    <input type="text" class="form-control">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset>
                                <legend>Flexible Input fields with icons</legend>

                                <div class="form-group">

                                    <label class="control-label col-md-2" for="prepend">Addon Large</label>
                                    <div class="col-md-10">
                                        <div class="icon-addon addon-lg">
                                            <input type="text" placeholder="Email" class="form-control">
                                            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label class="control-label col-md-2" for="prepend">Addon Medium</label>
                                    <div class="col-md-10">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Email" class="form-control">
                                            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label class="control-label col-md-2" for="prepend">Addon Small</label>
                                    <div class="col-md-10">
                                        <div class="icon-addon addon-sm">
                                            <input type="text" placeholder="Email" class="form-control">
                                            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label class="control-label col-md-2" for="prepend">Select Large</label>
                                    <div class="col-md-10">
                                        <div class="icon-addon addon-lg">
                                            <select class="form-control">
                                                <option>Select Option</option>
                                                <option>Sample</option>
                                                <option>Sample</option>
                                            </select>
                                            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label class="control-label col-md-2" for="prepend">Select Medium</label>
                                    <div class="col-md-10">
                                        <div class="icon-addon addon-md">
                                            <select class="form-control">
                                                <option>Select Option</option>
                                                <option>Sample</option>
                                                <option>Sample</option>
                                            </select>
                                            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label class="control-label col-md-2" for="prepend">Select Small</label>
                                    <div class="col-md-10">
                                        <div class="icon-addon addon-sm">
                                            <select class="form-control">
                                                <option>Select Option</option>
                                                <option>Sample</option>
                                                <option>Sample</option>
                                            </select>
                                            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label class="control-label col-md-2" for="prepend">Prepended Large</label>
                                    <div class="col-md-10">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                            <div class="icon-addon addon-lg">
                                                <input type="text" placeholder="Email" class="form-control">
                                                <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                                            </div>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">Go!</button>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label class="control-label col-md-2" for="prepend">Prepended Medium</label>
                                    <div class="col-md-10">
                                        <div class="input-group input-group-md">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                            <div class="icon-addon addon-md">
                                                <input type="text" placeholder="Email" class="form-control">
                                                <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                                            </div>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">Go!</button>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label class="control-label col-md-2" for="prepend">Prepended Small</label>
                                    <div class="col-md-10">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                            <div class="icon-addon addon-sm">
                                                <input type="text" placeholder="Email" class="form-control">
                                                <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                                            </div>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">Go!</button>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                            </fieldset>

                            <fieldset>
                                <legend>Simple input with icons</legend>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Input with icon</label>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="input-icon-left">
                                                    <i class="fa fa-microphone"></i>
                                                    <input class="form-control" placeholder="Left Icon" type="text">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">With right icon</label>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="input-icon-right">
                                                    <i class="fa fa-microphone"></i>
                                                    <input class="form-control" placeholder="" type="text">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Input with spinner</label>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <input class="form-control ui-autocomplete-loading" placeholder="" type="text">

                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </fieldset>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default" type="submit">
                                            Cancel
                                        </button>
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa fa-save"></i>
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->


        </article>
        <!-- WIDGET END -->

    </div>
    <!-- end row -->


</section>
<!-- end widget grid -->

<script type="text/javascript">

    @*AJAX for cascading District drop down list*@
    $(document).ready(function () {
        $("#CityID").change(function () {
            var selectedItem = $(this).val();
            var ddlDistrict = $("#DistrictID");
            var statesProgress = $("#states-loading-district-progress");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl(Constants.GetDistrictByCityAction))",
                data: { "cityId": selectedItem },
                success: function (data) {
                    ddlDistrict.html('');
                    $.each(data, function (id, option) {
                        ddlDistrict.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    statesProgress.hide();
                }
            });
        });
    });

    @*AJAX for cascading Ward drop down list*@
    $(document).ready(function () {
        $("#DistrictID").change(function () {
            var selectedItem = $(this).val();
            var ddlWard = $("#WardID");
            var statesProgress = $("#states-loading-district-progress");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl(Constants.GetWardByDistrictAction))",
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlWard.html('');
                    $.each(data, function (id, option) {
                        ddlWard.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    statesProgress.hide();
                }
            });
        });
    });

    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    pageSetUp();

    // PAGE RELATED SCRIPTS

    // class switcher for radio and checkbox
    $('input[name="demo-switcher-1"]').change(function () {
        //alert($(this).val())
        $this = $(this);

        myNewClass = $this.attr('id');

        $('.demo-switcher-1 input[type="checkbox"]').removeClass();
        $('.demo-switcher-1 input[type="checkbox"]').addClass("checkbox " + myNewClass);

        $('.demo-switcher-1 input[type="radio"]').removeClass();
        $('.demo-switcher-1 input[type="radio"]').addClass("radiobox " + myNewClass);

    })

</script>
