@using HospitalF.Constant
@using HospitalF.Entities
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "Tìm kiếm bệnh viện - Danh sách người dùng";
    IPagedList<UserEntity> userList = (IPagedList<UserEntity>)ViewBag.UserList;
    int count = 0;
}

@section UserListActive 
{
class="active"
}

@section BreadCrumb 
{
    <ol class="breadcrumb">
        <li>Trang Quản Lý</li>
        <li>Tài Khoản</li>
        <li>Quản Lý Tài Khoản</li>
    </ol>
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-pencil-square-o fa-fw "></i>
            Quản lý tài khoản
        </h1>
    </div>
</div>

<section id="widget-grid" class="">
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-0"
                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="false"
                data-widget-sortable="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-edit"></i></span>
                    <h2>Quản lý tài khoản</h2>
                </header>
                <div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="col-md-12 no-padding">
                            <h5>Danh sách tài khoản</h5>
                            <hr />
                            <div class="col-md-10 no-padding">
                                @using (Html.BeginForm(Constants.UserListAction, Constants.DataController, FormMethod.Get))
                                {
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" name="email" type="text" placeholder="Email tài khoản" value="@(ViewBag.Email)">
                                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="input-group" style="width:100%">
                                                    @Html.DropDownList("userRole",(SelectList)ViewBag.RoleTypeList, "Tất cả quyền",new { @class = "form-control"})
                                                    <i></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="input-group" style="width:100%">
                                                    @Html.DropDownList("userStatus",(SelectList)ViewBag.StatusTypeList, new { @class = "form-control" })
                                                    <i></i>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-md-12 no-padding">
                                @if (userList.Count > 0)
                                {
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Email</th>
                                                <th>Loại</th>
                                                <th>Trạng thái</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (UserEntity user in userList)
                                            {
                                                <tr>
                                                    <td>@(++count)</td>
                                                    <td><a href="mailto:@(user.Email)">@(user.Email)</a></td>
                                                    <td>@(user.User_Role_Name)</td>
                                                    <td>@(user.Is_Active == true ? "Đang hoạt động" : "Đã khóa")</td>
                                                    @if (user.Is_Active == false)
                                                    {
                                                        <td><a href="/Account/ActivateUser?userId=@(user.User_ID)" class="btn btn-primary">Kích hoạt</a></td>
                                                    }
                                                    else
                                                    {
                                                        <td><a href="/Account/DeactivateUser?userId=@(user.User_ID)" class="btn btn-danger">Khóa tài khoản</a></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <hr>
                                        @Html.PagedListPager(userList, page => Url.Content(Constants.UserListAction + "?email=" + ViewBag.Email + "&userRole=" + ViewBag.UserRole + "&userStatus=" + ViewBag.UserStatus + "&page=" + page), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                                    </div>
                                }
                                else
                                {
                                    <p><strong>Không có tài khoản nào.</strong></p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
