@{
    ViewBag.Title = "Hospital";
}
@using HospitalF.Constant;
@using HospitalF.Entities;
@using Recaptcha.Web.Mvc;
@{
    HospitalEntity hospital = (HospitalEntity)ViewBag.HospitalEntity;
    Uri uri = new Uri(Request.Url.AbsoluteUri);
    string url = uri.GetLeftPart(UriPartial.Path) + "?hospitalId=" + Request["hospitalId"];
}
<!-- MAIN CONTENT -->
<div id="content-results" class="col-md-12 col-md-offset-0 well">
    <div class="col-md-12">
        <div class="pull-left">
            <h1 class="txt-color-blue"><i class="fa fa-plus-square txt-color-blue"></i>&nbsp;@(hospital.Hospital_Name)</h1>
            <hr />
            <div class="contact-info">
                <address>
                    <strong>Địa chỉ</strong>: @(hospital.Address) <i class="fa fa-location-arrow"></i>
                    <br />
                    <strong>Điện thoại</strong>: @(hospital.Phone_Number) <i class="fa fa-mobile"></i>
                    <br />
                    <strong>Website</strong>: <a href="http://@(hospital.Website)" target="_blank" class="text-success">@(hospital.Website) </a><i class="fa fa-caret-down"></i>
                    <br />
                    <strong>Email</strong>: <a href="#" class="text-success">@(hospital.Email) </a><i class="fa fa-envelope-o"></i>
                    <br />
                    <strong>Fax</strong>: <a href="#" class="text-success">@(hospital.Fax) </a><i class="fa fa-fax"></i>
                </address>
            </div>
        </div>
        <div class="pull-right">
            <div class="rate-info text-center">
                <div class="display-inline">
                    @for (int i = 1; i <= 10; i++)
                    {
                        double rate = Math.Ceiling((double)(hospital.Rating == null ? 0 : hospital.Rating) * 2);
                        if (rate == i)
                        {
                        <input name="star-@(hospital.Hospital_ID)" type="radio" class="star {half:true}" checked="checked" disabled="disabled"/>
                        }
                        else
                        {
                        <input name="star-@(hospital.Hospital_ID)" type="radio" class="star {half:true}" disabled="disabled"/>
                        }
                    }
                </div>
                <p>Dựa trên <strong>@(hospital.Rating_Count != null ? hospital.Rating_Count : 0)</strong> bình chọn</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr />
    </div>
    <div class="col-md-12">
        <ul id="myTab1" class="nav nav-tabs bordered">
            <li class="active">
                <a href="#s1" data-toggle="tab"><i class="fa fa-fw fa-lg fa-search"></i>&nbsp;Tổng quan</a>
            </li>
            <li>
                <a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-lg fa-th-list"></i>&nbsp;Dịch vụ</a>
            </li>
            <li>
                <a id="s3-tab" href="#s3" data-toggle="tab"><i class="fa fa-fw fa-lg fa-file-image-o"></i>&nbsp;Hình ảnh</a>
            </li>
        </ul>
        <div id="myTabContent1" class="tab-content padding-10">
            <div class="tab-pane fade in active" id="s1">
                <div class="row">
                    <section class="col-md-7">
                        <div>
                            <h5 class="txt-color-blue">Giới thiệu về bệnh viện</h5>
                            <hr />
                            <p class="description">
                                @(Html.Raw(hospital.Description))
                            </p>
                        </div>
                        <hr />
                        <div>
                            <h5 class="txt-color-blue">Đánh giá bệnh viện</h5>
                            @{
                                string alertDisplayMode = "none";
                                string successDisplayMode = "none";
                                if (ViewBag.RateActionStatus != null)
                                {
                                    if ((bool)ViewBag.RateActionStatus)
                                    {
                                        successDisplayMode = "block";
                                    }
                                    else
                                    {
                                        alertDisplayMode = "block";
                                    }
                                }

                                if (Session["RATING_TIME"] == null)
                                {
                                    Session["RATING_TIME"] = 0;
                                }
                                
                            }
                            @using (Html.BeginForm(Constants.RateHospitalAction, Constants.HomeController, FormMethod.Post, new { @onsubmit = "return checkVoteForm()" }))
                            {
                                <fieldset>
                                    <legend>Bạn có hài lòng với dịch vụ của bệnh viện?</legend>
                                    <div class="alert alert-info fade in" style="display: none;">
                                        <button class="close">
                                            ×
                                        </button>
                                        <i class="fa-fw fa fa-check"></i>
                                        Vui lòng <strong style="color: #296191 !important;">chọn mức đánh giá</strong> để tiến hành đánh giá.
                                    </div>
                                    <div class="alert alert-success fade in" style="display: @(successDisplayMode);">
                                        <button class="close">
                                            ×
                                        </button>
                                        <i class="fa-fw fa fa-check"></i>
                                        <strong>Đã bình chọn</strong> Cám ơn bạn đã tham gia đánh giá.
                                    </div>
                                    <div class="alert alert-danger fade in" style="display: @(alertDisplayMode);">
                                        <button class="close">
                                            ×
                                        </button>
                                        <i class="fa-fw fa fa-times"></i>
                                        <strong>Lỗi!</strong> @(ViewBag.RateActionMessage)
                                    </div>
                                    <div class="form-group">
                                        <label><strong>Mức đánh giá</strong></label>
                                        <br />
                                        <div class="display-inline">
                                            <input name="star_@(hospital.Hospital_ID)" type="radio" class="hover-star" title="Tạm Được" value="1" />
                                            <input name="star_@(hospital.Hospital_ID)" type="radio" class="hover-star" title="Được" value="2"/>
                                            <input name="star_@(hospital.Hospital_ID)" type="radio" class="hover-star" title="Tốt" value="3"/>
                                            <input name="star_@(hospital.Hospital_ID)" type="radio" class="hover-star" title="Rất Tốt" value="4"/>
                                            <input name="star_@(hospital.Hospital_ID)" type="radio" class="hover-star" title="Tuyệt Vời" value="5"/>
                                        </div>
                                        <strong id="rate-tip" class="txt-color-blue"></strong>
                                        <input id="hospital-id" type="hidden" name="id" value="@(hospital.Hospital_ID)" />
                                        <input id="score" type="hidden" name="score" value="0" />
                                    </div>

                                    @if (((int)Session["RATING_TIME"]) > 2)
                                    {
                                        <div class="form-group">
                                            <label><strong class="txt-color-red">Vui lòng nhập mã bảo mật bên dưới</strong></label>
                                            @Html.Recaptcha(language: "vi")
                                        </div>          
                                    }
                                </fieldset>
                                <footer>
                                    <button class="btn btn-primary @(string.IsNullOrEmpty(User.Identity.Name) ? "fb-login" : string.Empty)" type="submit">
                                        <i class="fa fa-check"></i>&nbsp;Bình Chọn
                                    </button>
                                </footer>
                            }

                        </div>
                    </section>
                    <section class="col-md-5">
                        <h5 class="txt-color-blue">Vị trí</h5>
                        <hr />
                        <div id="map-canvas-hospital"></div>
                        <hr />
                        <form id="directions-form">
                            <fieldset>
                                <legend><i class="fa fa-lg fa-location-arrow"></i>&nbsp;Tìm đường đi đến @(hospital.Hospital_Name)</legend>

                                <div class="input-group hidden-mobile">
                                    <input class="form-control" type="text" placeholder="Địa điểm xuất phát..." id="origin">
                                    <div class="input-group-btn">
                                        <button id="btn-direction" type="button" class="btn btn-info">
                                            &nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-search fa-lg"></i>&nbsp;&nbsp;&nbsp;
                                        </button>
                                    </div>
                                </div>
                                <p class="note"><strong>Ví dụ:</strong> Công viên phần mềm Quang Trung, Quận 12, Hồ Chí Minh...</p>
                            </fieldset>
                        </form>
                        <div id="directions-panel"></div>
                    </section>
                </div>
            </div>
            <div class="tab-pane fade in" id="s2">
                <div class="row">
                    <div id="service-content" class="col-md-12">
                        <h5 class="txt-color-blue">Dịch vụ hỗ trợ</h5>
                        <hr />
                        @{
                            var serviceTypeList = (from s in hospital.Services
                                                   group s.Type_Name by s.Type_ID into ss
                                                   select new
                                                   {
                                                       Type_ID = ss.Key,
                                                       Type_Name = ss.ToList().First()
                                                   });
                        }
                        @foreach (var serviceType in serviceTypeList)
                        {       
                            <h5>@(serviceType.Type_Name)</h5>
                            <ul>
                                @foreach (ServiceEntity service in hospital.Services)
                                {
                                    if (service.Type_ID == serviceType.Type_ID)
                                    {
                                        if (service.Is_Active == true)
                                        {
                                    <li><i class="fa fa-lg fa-check txt-color-green"></i>&nbsp;@(service.Service_Name)</li>
                                        }
                                        else
                                        {
                                    <li><i class="fa fa-lg fa-times txt-color-red"></i>&nbsp;@(service.Service_Name)</li>
                                        }
                                    }
                                }
                            </ul>
                            <br />
                        }
                    </div>
                    <div id="facility-content" class="col-md-12">
                        <h5 class="txt-color-blue">Tiện nghi hỗ trợ</h5>
                        <hr />
                        @{
                            var facilityTypeList = (from f in hospital.Facilities
                                                    group f.Type_Name by f.Type_ID into ff
                                                    select new
                                                    {
                                                        Type_ID = ff.Key,
                                                        Type_Name = ff.ToList().First()
                                                    });
                        }
                        @foreach (var facilityType in facilityTypeList)
                        {       
                            <h5>@(facilityType.Type_Name)</h5>
                            <ul>
                                @foreach (FacilityEntity facility in hospital.Facilities)
                                {
                                    if (facility.Type_ID == facilityType.Type_ID)
                                    {
                                        if (facility.Is_Active == true)
                                        {
                                    <li><i class="fa fa-lg fa-check txt-color-green"></i>&nbsp;@(facility.Facility_Name)</li>
                                        }
                                        else
                                        {
                                    <li><i class="fa fa-lg fa-times txt-color-red"></i>&nbsp;@(facility.Facility_Name)</li>
                                        }
                                    }
                                }
                            </ul>
                            <br />
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="s3">
                <div class="row">
                    <div class="image-gallery col-md-12">

                        <div class="image-box">
                            <a href="~/Content/img/banner01.jpg" title="Shanghai Kiss" data-gallery="">
                                <img src="~/Content/img/banner01.jpg"></a>
                        </div>

                        <div class="image-box">
                            <a href="~/Content/img/banner02.jpg" title="Shanghai Kiss" data-gallery="">
                                <img src="~/Content/img/banner02.jpg"></a>
                        </div>

                        <div class="image-box">
                            <a href="http://farm4.static.flickr.com/3918/14739267834_c8eaca03b3_b.jpg" title="Shanghai Kiss" data-gallery="">
                                <img src="http://farm4.static.flickr.com/3918/14739267834_c8eaca03b3_b.jpg"></a>
                        </div>
                        <div class="image-box">
                            <a href="~/Content/img/banner03.jpg" title="Shanghai Kiss" data-gallery="">
                                <img src="~/Content/img/banner03.jpg"></a>
                        </div>
                        <div class="image-box">
                            <a href="~/Content/img/background_1.jpg" title="Shanghai Kiss" data-gallery="">
                                <img src="~/Content/img/background_1.jpg"></a>
                        </div>
                    </div>
                    <div id="blueimp-gallery" class="blueimp-gallery">
                        <!-- The container for the modal slides -->
                        <div class="slides"></div>
                        <!-- Controls for the borderless lightbox -->
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                        <!-- The modal dialog, which will be used to wrap the lightbox content -->
                        <div class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title"></h4>
                                    </div>
                                    <div class="modal-body next"></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default pull-left prev">
                                            <i class="glyphicon glyphicon-chevron-left"></i>
                                            Trước
                                        </button>
                                        <button type="button" class="btn btn-primary next">
                                            Tiếp
                        <i class="glyphicon glyphicon-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr />
            <div class="fb-like" data-href="@(url)" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
            <hr />
            <div class="fb-comments" data-href="@(url)" data-colorscheme="light" data-numposts="10" data-width="100%">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // GOOGLE - API

        // Google map
        var map;
        // List of windows that show detailed information of hospital on map
        var infowindow = new google.maps.InfoWindow();

        function toggleBounce(marker) {
            if (marker.getAnimation() != null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }

        // Create marker of hospital on map
        function createMarker(latlng, html) {
            // Add markers to the map

            // Marker sizes are expressed as a Size of X,Y
            // where the origin of the image (0,0) is located
            // in the top left of the image.

            // Origins, anchor positions and coordinates of the marker
            // increase in the X direction to the right and in
            // the Y direction down.
            var image = {
                url: '../Content/img/hospital-2.png',
                // This marker is 20 pixels wide by 32 pixels tall.
                size: new google.maps.Size(32, 37),
                // The origin for this image is 0,0.
                origin: new google.maps.Point(0, 0),
                // The anchor for this image is the base of the flagpole at 0,32.
                anchor: new google.maps.Point(0, 32)
            };
            // Shapes define the clickable region of the icon.
            // The type defines an HTML &lt;area&gt; element 'poly' which
            // traces out a polygon as a series of X,Y points. The final
            // coordinate closes the poly by connecting to the first
            // coordinate.
            var shape = {
                coords: [1, 1, 1, 37, 32, 37, 32, 1],
                type: 'poly'
            };

            var contentString = html;
            var marker;

            marker = new google.maps.Marker({
                position: latlng,
                map: map,
                draggable: false,
                optimized: false,
                animation: google.maps.Animation.DROP,
                icon: image,
                shape: shape,
                zIndex: Math.round(latlng.lat() * -100000) << 5
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(contentString);
                infowindow.open(map, marker);
                map.panTo(marker.getPosition());
            });

            google.maps.event.addListener(marker, 'mouseover', function () {
                toggleBounce(marker);
            });

            google.maps.event.addListener(marker, 'mouseout', function () {
                toggleBounce(marker);
            });

        }
        // ------------------------------------------------------------------------

        function initializeMap() {
            var latlng = null;
            // Get coordinate of position
            postionLongitude = '@(hospital.Coordinate.Split(',')[0].Trim())';
            postionLatitude = '@(hospital.Coordinate.Split(',')[1].Trim())';
            latlng = new google.maps.LatLng(postionLongitude, postionLatitude);

            // Draw the map
            var options = {
                zoom: 13,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false
            };

            map = new google.maps.Map(document.getElementById("map-canvas-hospital"), options);

            google.maps.event.addListener(map, 'click', function () {
                infowindow.close();
            });

            // Create marker on map with info window
            var contentString = '<div style="width: 300px;">' +
                                '<table class="table">' +
                                '<thead>' +
                                '<tr class="info">' +
                                '<th><h5>' + '@(hospital.Hospital_Name)' + '</h5></th>' +
                        '</tr>' +
                        '</thead>' +
                        '<tbody>' +
                        '<tr>' +
                        '<td><i class="fa fa-lg fa-location-arrow"></i>&nbsp;' + '@(hospital.Address)' + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td><i class="fa fa-lg fa-mobile"></i>&nbsp;' + '@(hospital.Phone_Number)' + '</td>' +
                        '</tr>' +
                        '</tbody>' +
                        '</table>' +
                        '</div>';
            createMarker(latlng, contentString);

            // ------------------------------------------------------------------------
        }

        // Initialize map when page load 
        google.maps.event.addDomListener(window, 'load', initializeMap);

        // ------------------------------------------------------------------------
        var startLocationMarker;
        var rendererOptions = {
            suppressMarkers: true
        };
        var directionsService = new google.maps.DirectionsService();
        var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
        function calcRoute() {
            var _resultPanel = $('#directions-panel');
            var userlocation = document.getElementById("origin").value;
            if (!userlocation) {
                _resultPanel.html('<div><p><strong>Vui lòng nhập địa điểm xuất phát.<strong></p></div>');
            } else {
                _resultPanel.html('<img src="../Content/img/loading-backup.gif"/>');
                
                var request = {
                    origin: userlocation,
                    destination: '@(hospital.Address)',
                    unitSystem: google.maps.UnitSystem.METRIC,
                    provideRouteAlternatives: true,
                    travelMode: google.maps.TravelMode.DRIVING
                };

                directionsService.route(request, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        _resultPanel.empty();
                        // change start and end icons on map
                        if (startLocationMarker != null) {
                            startLocationMarker.setMap(null);
                        }
                        startLocationMarker = new google.maps.Marker({
                            position: response.routes[0].legs[0].start_location,
                            map: map,
                            draggable: false,
                            optimized: false,
                            animation: google.maps.Animation.DROP
                        });

                        google.maps.event.addListener(startLocationMarker, 'click', function () {
                            map.panTo(startLocationMarker.getPosition());
                        });

                        google.maps.event.addListener(startLocationMarker, 'mouseover', function () {
                            toggleBounce(startLocationMarker);
                        });

                        google.maps.event.addListener(startLocationMarker, 'mouseout', function () {
                            toggleBounce(startLocationMarker);
                        });

                        directionsDisplay.setMap(map);
                        directionsDisplay.setDirections(response);
                        directionsDisplay.setPanel(document.getElementById('directions-panel'));
                    } else {
                        _resultPanel.empty();
                        _resultPanel.html('<div><p><strong>Vui lòng nhập địa điểm xuất phát khác.<strong></p></div>');
                    }
                });
            }
        }

        $('#btn-direction').click(function () {
            calcRoute();
        });

        $('#directions-form').submit(function (event) {
            event.preventDefault();
            calcRoute();
        });
    });



    function checkVoteForm() {
        var check = $('#score').val() > 0;
        if (!check) {
            var user = '@(User.Identity.Name.Split(Char.Parse(Constants.Minus))[0])';
            if (user) {
                $('.alert-info').show();
                $('.alert-success').hide();
                $('.alert-danger').hide();
            }
        }
        return check;
    }

    $(document).ready(function () {
        $('.close').click(function () {
            $(this).parent().hide();
        });
        $('.hover-star').rating({
            focus: function (value, link) {
                var tip = $('#rate-tip');
                tip[0].data = tip[0].data || tip.html();
                tip.html(link.title || 'value: ' + value);
            },
            blur: function (value, link) {
                var tip = $('#rate-tip');
                $('#hover-test').html(tip[0].data || '');
            },
            callback: function (value, link) {
                var user = '@(User.Identity.Name.Split(Char.Parse(Constants.Minus))[0])';
                if (user) {
                    $('#score').val(value);
                }
            }
        });
    });
</script>
@*
    <script type="text/javascript">
        $(window).load(function () {
            $('a[data-toggle=tab]').on('shown.bs.tab', function (e) {
                $(window).trigger("resize");
            });
            $(window).resize(function () {
                $container = $('.image-gallery');
                $coloumn = $container.width() / 8;
                $container.imagesLoaded(function () {
                    $container.masonry({
                        columnWidth: $coloumn,
                        gutter: 0,
                        itemSelector: '.image-box',
                        isFitWidth: true
                    });
                });
            });
        });
        $(document).ready(function () {
            $('.close').click(function () {
                $(this).parent().hide();
            });
            function rate(id, score) {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action(Constants.RateHospitalAction, Constants.HomeController))",
                     data: { "id": id, "score": score },
                     success: function (data) {
                         if (data == "True") {
                             $('.hover-star').rating('disable');
                             $('.alert-info').hide();
                             $('.alert-success').show();
                             $('.alert-danger').hide();
                         } else {
                             $('.alert-info').hide();
                             $('.alert-success').hide();
                             $('.alert-danger').show();
                         }
                     },
                     error: function (xhr, ajaxOptions, thrownError) {
                         $('.alert-info').hide();
                         $('.alert-success').hide();
                         $('.alert-danger').show();
                     }
                 });
             }

             $('.hover-star').rating({
                 focus: function (value, link) {
                     var tip = $('#rate-tip');
                     tip[0].data = tip[0].data || tip.html();
                     tip.html(link.title || 'value: ' + value);
                 },
                 blur: function (value, link) {
                     var tip = $('#rate-tip');
                     $('#hover-test').html(tip[0].data || '');
                 },
                 callback: function (value, link) {
                     var user = '@(User.Identity.Name.Split(Char.Parse(Constants.Minus))[0])';
                                            if (user) {
                                                rate('@(hospital.Hospital_ID)', value);
                                            } else {
                                                $('.alert-info').show();
                                                $('.alert-success').hide();
                                                $('.alert-danger').hide();
                                            }
                                        }
                                    });
         });
    </script>
    *@