@using HospitalF.Constant
@using HospitalF.Models;
@model List<HospitalF.Models.Hospital>

@{
    List<Hospital> hospitalList = (List<Hospital>)ViewBag.HospitalList;
    string suggestionSentence = (string)@ViewBag.SuggestionSentence;
}

<!-- MAIN CONTENT -->
<div id="content-results" class="col-md-10 col-md-offset-1 well">
    <div class="col-md-8">
        @using (Html.BeginForm(Constants.SearchResultAction, Constants.HomeController, FormMethod.Get, new { @class = "form-horizontal", @id = Constants.NormalSearchForm }))
        {

            <div class="input-group">
                @Html.TextBox("SearchValue", null, new { @class = "form-control", placeholder = "Nhập thông tin tìm kiếm..." })
                <div class="input-group-btn">
                    <button class="btn btn-default btn-primary" type="submit"
                            value="@Constants.NormalSearchForm" name="@Constants.Button"
                            id="normal-search-button">
                        <i class="fa fa-search"></i>&nbsp;Tìm Kiếm
                    </button>
                </div>
            </div>
            <p class="note"><strong>Ví dụ:</strong> chuyên khoa, tên bệnh viện, địa điểm...</p>
        }
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm(Constants.FilterResultAction, Constants.HomeController, FormMethod.Get, new { @class = "form-horizontal" }))
        {
            <fieldset>
                @{
            if (!string.IsNullOrEmpty(suggestionSentence))
            {
                suggestionSentence = suggestionSentence.Trim();
                    <p>
                        Có phải bạn muốn tìm <i>
                            @Html.ActionLink(suggestionSentence,
                                Constants.SearchResultAction, Constants.HomeController,
                                new { SearchValue = suggestionSentence }, null)
                        </i>
                    </p>
            }
            if (hospitalList.Count == 0)
            {
                    <p>Không có kết quả tìm kiếm với từ khóa <i><font color="blue">@ViewBag.SearchValue</font></i></p>
                    <input id="result-count" type="hidden" value="@hospitalList.Count" />
            }
                }

                <div class="row" id="filter-bar">
                    <div class="form-group col-md-4">
                        <label class="control-label col-md-4" for="prepend">Đánh Giá</label>
                        <div class="col-md-8">
                            <div class="icon-addon addon-sm">
                                <select class="form-control">
                                    <option>Cao Nhất</option>
                                    <option>Thấp Nhât</option>
                                </select>
                                <label class="glyphicon glyphicon-sort" title="Đánh Giá"></label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-4">
                        <label class="control-label col-md-4" for="prepend">Loại</label>
                        <div class="col-md-8">
                            <div class="icon-addon addon-sm">
                                @Html.DropDownList("HospitalType", (SelectList)ViewBag.HospitalTypes, "Tất Cả", new { @class = "form-control" })
                                <label class="glyphicon glyphicon-list-alt" title="Loại Bệnh Viện"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary pull-right" type="submit">
                            <i class="fa fa-refresh"></i>&nbsp;
                            Cập Nhật
                        </button>
                    </div>
                </div>
            </fieldset>
        }
    </div>

    <div class="col-md-12">
        <hr />
        <div id="hospital-list-results" class="col-md-4">
            <h1 class="font-md">Danh sách <span class="semi-bold">bệnh viện</span><small class="text-danger"> &nbsp;&nbsp;(@(hospitalList != null ? hospitalList.Count : 0) kết quả)</small></h1>
            @if (hospitalList != null)
            {
                foreach (Hospital hospital in hospitalList)
                {
                <div class="search-results clearfix smart-form">

                    <h4><i class="fa fa-plus-square txt-color-blue"></i>&nbsp;<a href="javascript:void(0);">@(hospital.Hospital_Name)</a></h4>

                    <div>
                        <div class="rating display-inline">
                            <input type="radio" name="stars-rating" id="stars-rating-5">
                            <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                            <input type="radio" name="stars-rating" id="stars-rating-4">
                            <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                            <input type="radio" name="stars-rating" id="stars-rating-3">
                            <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                            <input type="radio" name="stars-rating" id="stars-rating-2">
                            <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                            <input type="radio" name="stars-rating" id="stars-rating-1">
                            <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                        </div>
                        <br>
                        <div class="url text-success">
                            www.timkiembenhvien.com <i class="fa fa-caret-down"></i>
                        </div>
                        <p class="description">
                            Đây là cái bệnh viện.
                        </p>
                    </div>

                </div>
                }
            }
            <div class="text-center">
                <hr>
                <ul class="pagination no-margin">
                    <li class="prev disabled">
                        <a href="javascript:void(0);">Previous</a>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0);">1</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">2</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">3</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">4</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">5</a>
                    </li>
                    <li class="next">
                        <a href="javascript:void(0);">Next</a>
                    </li>
                </ul>
                <br>
                <br>
                <br>
            </div>
        </div>

        <div id="map-results" class="col-md-8">
            <div id="map-canvas"></div>
        </div>

    </div>
</div>
<!-- END MAIN CONTENT -->

<script type="text/javascript">
    @*AJAX for auto completing basic search value textbox*@
    $(document).ready(function () {
        $("#SearchValue").on('input', function () {
            var statesProgress = $("#states-loading-search-progress");
            var availableTags = new Array();
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl(Constants.LoadSuggestSentenceAction))",
                success: function (data) {
                    $.each(data, function (id, option) {
                        availableTags.push(option);
                    });
                    statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    statesProgress.hide();
                }
            });
            $("#SearchValue").autocomplete({
                source: function (request, response) {
                    var results = $.ui.autocomplete.filter(availableTags, request.term);
                    response(results.slice(0, 5));
                }
            });
        });
    });

    @*Display fitler bar*@
    $(document).ready(function () {
        var resultCount = $('#result-count').val();
        if (resultCount == 0) {
            $("#filter-bar").hide();
        }
        else {
            $("#filter-bar").show();
        }
    });

    @*Data validation*@
    $(document).ready(function () {
        $("#normal-search-button").click(function () {
            var searchValue = $('#SearchValue').val().trim();
            if (searchValue != "") {
                $('#normal-search-form').submit();
            }
            else {
                return false;
            }
        });
    });

    // GOOGLE - API

    // Google map
    var map;
    // List markers on map
    var markers = [];
    // List of windows that show detailed information of hospital on map
    var infowindow = new google.maps.InfoWindow();
    // Parse JSON hospital list to javascript object
    var hospitalList = JSON && JSON.parse('@Html.Raw(ViewBag.JsonHospitalList)') || $.parseJSON('@Html.Raw(ViewBag.JsonHospitalList)');
    // Position
    var position = '@(ViewBag.Position)';

    // Create marker of hospital on map
    function createMarker(latlng, html, markerType) {
        // Add markers to the map

        // Marker sizes are expressed as a Size of X,Y
        // where the origin of the image (0,0) is located
        // in the top left of the image.

        // Origins, anchor positions and coordinates of the marker
        // increase in the X direction to the right and in
        // the Y direction down.
        var image = {
            url: '../Content/img/City-Hospital-icon.png',
            // This marker is 20 pixels wide by 32 pixels tall.
            size: new google.maps.Size(32, 32),
            // The origin for this image is 0,0.
            origin: new google.maps.Point(0,0),
            // The anchor for this image is the base of the flagpole at 0,32.
            anchor: new google.maps.Point(0, 32)
        };
        // Shapes define the clickable region of the icon.
        // The type defines an HTML &lt;area&gt; element 'poly' which
        // traces out a polygon as a series of X,Y points. The final
        // coordinate closes the poly by connecting to the first
        // coordinate.
        var shape = {
            coords: [1, 1, 1, 32, 32, 32, 32 , 1],
            type: 'poly'
        };

        var contentString = html;
        var marker;
        if (markerType == 0) {
            marker = new google.maps.Marker({
                position: latlng,
                map: map,               
                zIndex: Math.round(latlng.lat()*-100000)<<5
            });
        } else {
            marker = new google.maps.Marker({
                position: latlng,
                map: map,
                icon: image,
                shape: shape,
                zIndex: Math.round(latlng.lat()*-100000)<<5
            });
        }
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.setContent(contentString); 
            infowindow.open(map,marker);
            map.panTo(marker.getPosition());
        });

        google.maps.event.addListener(marker, 'mouseover', function() {
            infowindow.setContent(contentString); 
            infowindow.open(map,marker);
        });
        
    }
    // ------------------------------------------------------------------------

    function initializeMap() {
        if (hospitalList.length > 0) {
            var latlng = null;
            if (position) {
                // Get coordinate of position
                postionLongitude = position.split(',')[0];
                postionLatitude = position.split(',')[1].trim();
                latlng = new google.maps.LatLng(postionLongitude, postionLatitude);            
            }
            // Draw the map
            var options = {
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false
            };

            map = new google.maps.Map(document.getElementById("map-canvas"), options);
            
            google.maps.event.addListener(map, 'click', function() {
                infowindow.close();
            });
            // ------------------------------------------------------------------------
            if (position) {
                // Draw circle to show the radius from input position
                var circleOptions = {
                    strokeColor: '#2c699d',
                    strokeOpacity: 0.5,
                    strokeWeight: 2,
                    fillColor: '#3276b1',
                    fillOpacity: 0.1,
                    map: map,
                    center: latlng,
                    radius: @(ViewBag.Radius * 1000)
                    };

                var circle = new google.maps.Circle(circleOptions);

                google.maps.event.addListener(circle, 'click', (function () {
                    infowindow.close();
                }));
            }
            // ------------------------------------------------------------------------

            // Fit map for user can view all marker on map with highest zoom level
            var myBounds = new google.maps.LatLngBounds();            
            // Create marker on map with info window
            for (i = 0; i < hospitalList.length; i++) {
                var coordinate = hospitalList[i].Coordinate;
                var longitude = (hospitalList[i].Coordinate.split(',')[0]).trim();
                var latitude = (hospitalList[i].Coordinate.split(',')[1]).trim();
                myBounds.extend(new google.maps.LatLng(longitude, latitude));
                var contentString = '<div style="width: 300px;">' +
                                    '<table class="table table-bordered">' + 
                                    '<thead>' + 
                                    '<tr class="info">' +
                                    '<th>' + hospitalList[i].Hospital_Name + '</th>' +
                                    '</tr>' +
                                    '</thead>' +
                                    '<tbody>' +
                                    '<tr>' +
                                    '<td>' + hospitalList[i].Address +'</td>' +
                                    '</tr>' +
                                    '</tbody>' +
                                    '</table>' +
                                    '</div>'
            
                createMarker(new google.maps.LatLng(longitude, latitude), contentString, 1);              
            }
            if (position) {
                myBounds.extend(latlng);
                createMarker(new google.maps.LatLng(postionLongitude, postionLatitude), "Vị trí hiện tại", 0);
            }
            map.fitBounds(myBounds);
            // ------------------------------------------------------------------------
        }
    }

    // Initialize map when page load 
    google.maps.event.addDomListener(window, 'load', initializeMap);
    // ------------------------------------------------------------------------
</script>
