@using HospitalF.Constant
@model HospitalF.Models.AppointmentModels
@Scripts.Render("~/bundles/smartadminjquery")
<script src="~/Content/js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        @*AJAX for cascading Doctor drop down list*@
        $("#SpecialityID").change(function () {
            var selectedItem = $(this).val();
            var ddlDoctor = $("#DoctorID");
            var statesProgress = $("#states-loading-doctor-progress");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl(Constants.GetDoctorBySpecialiyMethod))",
                data: { "specialityID": selectedItem },
                success: function (data) {
                    ddlDoctor.html('');
                    ddlDoctor.append($('<option></option>').val(0).html("-- Xin chọn bác sĩ --"));
                    $.each(data, function (id, option) {
                        ddlDoctor.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                    disableDays = AllDays;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    statesProgress.hide();
                }
            });
        });

        // AJAX for cascading Doctor's working days datepicker
        var AllDays = [8, 2, 3, 4, 5, 6, 7];
        var disableDays;
        var date = new Date();
        var currentMonth = date.getMonth();
        var currentDate = null;
        var currentYear = date.getFullYear();
        if (date.getHours() >= 22) {
            currentDate = date.getDate() + 1;
        } else {
            currentDate = date.getDate();
        }
        $("#DoctorID").change(function () {
            var selectedItem = $(this).val();
            var txtDate = $("#txtDate");
            var statesProgress = $("#states-loading-doctor-progress");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl(Constants.GetDoctorWorkingDayMethod))",
                data: { "doctorID": selectedItem },
                success: function (data) {
                        disableDays = data;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    disableDays = AllDays;
                    statesProgress.hide();
                }
            });
        });
        // Ngay kham datepicker
        $("#txtDate").datepicker({
            dateFormat: "dd/mm/yy",
            minDate: new Date(currentYear, currentMonth, currentDate),
            //defaultDate: new Date(currentYear, currentMonth, currentDate),
            beforeShowDay: function ShowDisableDates(date) {
                var ymd = date.getFullYear() + "/" + ("0" + (date.getMonth() + 1)).slice(-2) + "/" + ("0" + date.getDate()).slice(-2);
                day = new Date(ymd).getDay();
                if ($.inArray(AllDays[day], disableDays) < 0) {
                    return [false, "disabled"];
                } else {
                    return [true, "enable"];
                }
            }
        });
        // birthday datepicker
        $(".datepicker").datepicker({
            dateFormat: "dd/mm/yy",
            maxDate: new Date(currentYear, currentMonth, currentDate - 1)
        });
        //
        $("#timepicker").timepicker();
    });
</script>
<h2>CreateAppointment</h2>
@Html.ValidationSummary()
<article class="col-sm-12 col-md-12 col-lg-7" style="margin-left: 20%;">

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
        @*<form action="#" id="checkout-form" class="smart-form" novalidate="novalidate">*@
        @using (Html.BeginForm(Constants.CreateAppointmentMethod, Constants.AppointmentController,
                FormMethod.Post, new { @class = "smart-form" }))
        {
            <div style="float: left; width: 50%;">
                <fieldset>
                    <h3>Thông tin bệnh nhân</h3>

                    <div class="row">
                        <section class="col col-6">
                            <label class="select">
                                <select name="Speciality">
                                    <option value="-1" selected="" disabled="">Giới tính</option>
                                    <option value="0">Nam</option>
                                    <option value="1">Nữ</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                    </div>
                    <div class="row">

                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                @Html.TextBoxFor(m => m.Birthday, new
                       {
                           @class = "datepicker",
                           @placeholder = "Ngày sinh"
                       })
                            </label>
                        </section>
                        <section class="col col-9">
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                @Html.TextBoxFor(m => m.FullName, new
                       {
                           @placeholder = "Họ tên"
                       })
                            </label>
                        </section>
                        <section class="col col-9">
                            <label class="input">
                                <i class="icon-prepend fa fa-envelope-o"></i>
                                @Html.TextBoxFor(m => m.Email, new
                           {
                               @placeholder = "E-mail"
                           })
                            </label>
                        </section>
                        <section class="col col-9">
                            <label class="input">
                                <i class="icon-prepend fa fa-phone"></i>
                                @Html.TextBoxFor(m => m.PhoneNo, new
                           {
                               @id = "phoneNo",
                               @placeholder = "Số điện thoại",
                           })
                            </label>
                        </section>
                    </div>
                </fieldset>
                @*</div>*@
                <!-- end widget content -->

            </div>
            <div style="float: right; width: 50%;">
                <fieldset>
                    <h3>Thông tin đặt hẹn</h3>
                    <div class="row">
                        <section class="col col-9">
                            <label class="select">
                                @Html.DropDownListFor(m => m.SpecialityID, (SelectList)ViewBag.SpecialityList,
                                                Constants.RequireSpeciality)
                                @Html.ValidationMessageFor(m => m.SpecialityID)
                                <i></i>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-9">
                            <label class="select">
                                @Html.DropDownListFor(m => m.DoctorID, (SelectList)ViewBag.DoctorList,
                                                Constants.RequireDoctor)
                                @Html.ValidationMessageFor(m => m.DoctorID)
                                <i></i>
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                @Html.TextBoxFor(m => m.AppDate, new
                                        {
                                            @id = "txtDate",
                                            @placeholder = "Ngày khám"
                                        })
                            </label>
                        </section>
                        <section class="col col-5">
                            <label class="input">
                                <i class="icon-append fa fa-clock-o"></i>
                                @Html.TextBoxFor(m => m.StartTime, new
                                        {
                                            @class = "form-control",
                                            @placeholder = "Thời gian khám"
                                        })</label>
                        </section>
                        <section class="col col-9">
                            <a href="https://www.facebook.com/">Hình ảnh mới</a>
                            <label class="input">
                                <input type="text" name="captcha" />
                            </label>
                        </section>
                    </div>


                </fieldset>
            </div>
            <footer>
                <button type="submit" class="btn btn-primary">
                    Đặt lịch khám
                </button>
            </footer>
        }
    </div>
</article>
