@using HospitalF.Constant;
@using HospitalF.Entities;
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Tìm kiếm bệnh viện - Phản hồi";
    IPagedList<FeedbackEntity> feedbackList = (IPagedList<FeedbackEntity>)ViewBag.FeedbackList;
    int count = 0;
}

@section FeedbackActive 
{
class="active"
}

@section BreadCrumb 
{
    <ol class="breadcrumb">
        <li>Trang Quản Lý</li>
        <li>Phản Hồi</li>
    </ol>
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-pencil-square-o fa-fw "></i>
            Thống kê
        </h1>
    </div>
</div>

<section id="widget-grid" class="">
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-0"
                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="false"
                data-widget-sortable="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-edit"></i></span>
                    <h2>Thông tin phản hồi từ người dùng</h2>
                </header>
                <div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="col-md-12 no-padding">
                            <h5>Danh sách phản hồi từ người dùng</h5>
                            <hr />
                            <div class="col-md-12 no-padding">
                                @using (Html.BeginForm(Constants.FeedbackAction, Constants.DataController, FormMethod.Get))
                                {
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" id="from" name="sFromDate" type="text" placeholder="Từ ngày..." value="@(ViewBag.FromDate)">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" id="to" name="sToDate" type="text" placeholder="...đến ngày..." value="@(ViewBag.ToDate)">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="input-group" style="width:100%">
                                                    @Html.DropDownList("feedbackType",(SelectList)ViewBag.FeedbackTypeList, new { @class = "form-control" })
                                                    <i></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="input-group" style="width:100%">
                                                    @Html.DropDownList("responseType",(SelectList)ViewBag.ResponseTypeList, new { @class = "form-control" })
                                                    <i></i>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-md-12 no-padding">
                                @if (feedbackList.Count > 0)
                                {
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Tiêu đề</th>
                                                <th>Nội dung</th>
                                                <th>Người gửi</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (FeedbackEntity fe in feedbackList)
                                            {
                                                <tr>
                                                    <td>@(++count)</td>
                                                    <td>@(fe.Header)</td>
                                                    <td>@(fe.Feedback_Content)</td>
                                                    <td><a href="mailto:@(fe.Email)">@(fe.Email)</a></td>
                                                    @if (fe.Is_Response == false)
                                                    {
                                                        <td><a href="/Data/ApproveFeedback?feedbackId=@(fe.Feedback_ID)" class="btn btn-primary">Duyệt</a></td>
                                                    }
                                                    else
                                                    {
                                                        <td><strong>Đã duyệt</strong></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <hr>
                                        @Html.PagedListPager(feedbackList, page => Url.Content(Constants.FeedbackAction + "?sFromDate=" + ViewBag.FromDate + "&sToDate=" + ViewBag.ToDate + "&feedbackType=" + ViewBag.FeedbackType + "&responseType=" + ViewBag.ResponseType +"&page=" + page), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                                    </div>
                                }
                                else
                                {
                                    <p><strong>Không có phản hồi nào.</strong></p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        pageSetUp();
        // Date Range Picker
        $("#from").datepicker({
            defaultDate: "dateToday",
            maxDate: "dateToday",
            changeMonth: true,
            numberOfMonths: 3,
            dateFormat: "dd/mm/yy",
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }

        });
        $("#to").datepicker({
            defaultDate: "+1m",
            maxDate: "dateToday",
            changeMonth: true,
            numberOfMonths: 3,
            dateFormat: "dd/mm/yy",
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onClose: function (selectedDate) {
                //$("#from").datepicker("option", "minDate", selectedDate);
            }
        });
    });

</script>
