@using HospitalF.Constant;

@model HospitalF.Models.HospitalModel
@{
    ViewBag.Title = "Thêm mới bệnh viện";
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-pencil-square-o fa-fw "></i>
            Thêm mới bệnh viện
            <span>
                >
                Nhập liệu
            </span>
        </h1>
    </div>
</div>

<div class="alert alert-block alert-success">
    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Nhập thông tin</h4>
    <p>
        Điền những thông tin cần thiết vào bản mẫu. Sau đó ấn xác nhận để tạo bệnh viện mới.
    </p>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-0"
                 data-widget-colorbutton="false"
                 data-widget-editbutton="false"
                 data-widget-togglebutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-custombutton="false"
                 data-widget-collapsed="false"
                 data-widget-sortable="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Thông tin bệnh viện</h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body">

                        @using (Html.BeginForm(Constants.AddHospitalAction, Constants.HospitalController, FormMethod.Get, new { @class = "smart-form", @id = "add-hospital-form" }))
                        {
                            <legend>Thông tin căn bản</legend>
                            <fieldset>
								<div class="row">
									<section class="col col-6">
										<label class="input"> <i class="icon-prepend fa fa-home"></i>
                                            @Html.TextBoxFor(m => m.HospitalName, new { @placeholder = "Nhập tên bệnh viện" })
										</label>
									</section>
									<section class="col col-6">
                                        <label class="select"> <i></i>
                                            @Html.DropDownList("HospitalTypeID", (SelectList)ViewBag.HospitalTypeList,
                                                Constants.RequireHospitalType, new { @class = "form-control" })
                                        </label>
									</section>
								</div>

                                <section>
                                    <label class="input">
                                        <i class="icon-prepend fa fa-building"></i>
                                        @Html.TextBoxFor(m => m.Address, new { @placeholder = "Nhập địa chỉ và tên đường" })
                                    </label>
                                </section>

								<div class="row">
									<section class="col col-4">
                                        <label class="select"> <i></i>
                                            @Html.DropDownList("CityID", (SelectList)ViewBag.CityList,
                                                Constants.RequireCity, new { @class = "form-control" })
                                        </label>
									</section>
									<section class="col col-4">
                                        <label class="select"> <i></i>
                                            @Html.DropDownList("DistrictID", (SelectList)ViewBag.DistrictList,
                                               Constants.RequireDistrict, new { @class = "form-control" })
                                        </label>
									</section>
                                    <section class="col col-4">
                                        <label class="select">
                                            <i></i>
                                            @Html.DropDownList("WardID", (SelectList)ViewBag.DistrictList,
                                               Constants.RequireWard, new { @class = "form-control" })
                                        </label>
                                    </section>
								</div>
							</fieldset>
                        }

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->


        </article>
        <!-- WIDGET END -->

    </div>
    <!-- end row -->


</section>
<!-- end widget grid -->

<script type="text/javascript">

    @*AJAX for cascading District drop down list*@
    $(document).ready(function () {
        $("#CityID").change(function () {
            var selectedItem = $(this).val();
            var ddlDistrict = $("#DistrictID");
            var statesProgress = $("#states-loading-district-progress");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl(Constants.GetDistrictByCityAction))",
                data: { "cityId": selectedItem },
                success: function (data) {
                    ddlDistrict.html('');
                    $.each(data, function (id, option) {
                        ddlDistrict.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();

                    selectedItem = $("#DistrictID").val();
                    var ddlWard = $("#WardID");
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: "@(Url.RouteUrl(Constants.GetWardByDistrictAction))",
                        data: { "districtId": selectedItem },
                        success: function (data) {
                            ddlWard.html('');
                            $.each(data, function (id, option) {
                                ddlWard.append($('<option></option>').val(option.id).html(option.name));
                            });
                            statesProgress.hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            statesProgress.hide();
                        }
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    statesProgress.hide();
                }
            });
        });
    });

    @*AJAX for cascading Ward drop down list*@
    $(document).ready(function () {
        $("#DistrictID").change(function () {
            var selectedItem = $(this).val();
            var ddlWard = $("#WardID");
            var statesProgress = $("#states-loading-district-progress");
            statesProgress.show();

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl(Constants.GetWardByDistrictAction))",
                data: { "districtId": selectedItem },
                success: function (data) {
                    ddlWard.html('');
                    $.each(data, function (id, option) {
                        ddlWard.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    statesProgress.hide();
                }
            });
        });
    });

</script>
