@model HospitalF.Models.DoctorModels
@using HospitalF.Constant
@using System.Collections.Generic;
@using HospitalF.Models;

@*<link rel="stylesheet" href="~/Content/css/drap-drop.css" type="text/css" media="screen" />
<script type="text/javascript" src="~/Content/js/drap-drop/script.js"></script>
<script type="text/javascript" src="~/Content/js/drap-drop/redips-drag-min.js"></script>*@
<link rel="stylesheet" href="~/Content/css/smartadmin-production.m.css" type="text/css" media="screen" />
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
                <header style="border: none; height: 40px;">
                    <span class="widget-icon" style="font-size: 180%;"><i class="fa fa-check"></i></span>
                    <h1 style="line-height: 40px; padding-left: 30px;">Thông tin bác sĩ</h1>
                </header>

                <!-- widget div-->
                <div style="border: none;">

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">

                        <form class="form-horizontal" action="#">

                            <fieldset>
                                <legend>
                                    <span>Thông tin chung</span>
                                </legend>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Tên bác sĩ</label>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.Fullname, new
                                   {
                                       @type = "text",
                                       @class = "control-label",
                                       @style = "text-align: left;",
                                       @readonly = true
                                   })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Bằng cấp/Chứng chỉ</label>
                                    <div class="col-md-5">
                                        @Html.TextAreaFor(m => m.Degree, new
                                   {
                                       @style = "width: 400px; height: 150px;"
                                   })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Kinh nghiệm</label>
                                    <div class="col-md-5">
                                        @Html.TextAreaFor(m => m.Experience, new
                                   {
                                       @style = "width: 400px; height: 150px;"
                                   })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Chuyên khoa</label>
                                    <div class="col-md-5">
                                        @{
                                            List<Speciality> SpecialityList = ViewBag.SpecialityList;
                                            Speciality spe=null;
                                            for (int i = 0; i < SpecialityList.Count(); i++)
                                            {
                                                spe=SpecialityList[i];
                                                string check = "";
                                                foreach(var item in Model.SpecialityList){
                                                    if(item.Speciality_ID==spe.Speciality_ID){
                                                        check = "checked";
                                                        break;
                                                    }
                                                }                                
                                        <div class="col col-5">
                                            <label class="checkbox state-success">
                                                <input type="checkbox" name="checkbox" value="@spe.Speciality_ID" @check><i></i>@spe.Speciality_Name</label>
                                        </div>
                                                }

                                            }
                                        </div>
                                            </div>
                            </fieldset>

                        </form>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->
        </article>
        <!-- WIDGET END -->

    </div>
</section>

@*<script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    pageSetUp();

</script>*@
<style>
    .col
    {
        float: left;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .col-1
    {
        width: 8.33%;
    }

    .col-2
    {
        width: 16.66%;
    }

    .col-3
    {
        width: 25%;
    }

    .col-4
    {
        width: 33.33%;
    }

    .col-5
    {
        width: 41.66%;
    }

    .col-6
    {
        width: 50%;
    }

    .col-8
    {
        width: 66.67%;
    }

    .col-9
    {
        width: 75%;
    }

    .col-10
    {
        width: 83.33%;
    }


    .select select
    {
        padding: 5px;
    }
</style>