@using HospitalF.Constant

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tìm Kiếm Bệnh viện - Trang Chủ</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="fb:admins" content="@(Constants.FacebookAppId)"/>
    <meta property="fb:app_id" content="@(Constants.FacebookAppId)">

    <!-- Basic Styles -->
    @Styles.Render("~/Content/HomeLayout")

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="../Content/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../Content/img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="../Content/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../Content/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../Content/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../Content/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="../Content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="../Content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="../Content/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <script>
        if (!window.jQuery) {
            document.write('<script src="../Content/js/libs/jquery-2.0.2.m.js"><\/script>');
        }
    </script>

    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="../Content/js/libs/jquery-ui-1.10.3.m.js"><\/script>');
        }
    </script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
        <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->
    <!-- BOOTSTRAP JS -->
    <script src="../Content/js/bootstrap/bootstrap.min.js"></script>

    <!-- CUSTOM NOTIFICATION -->
    <script src="../Content/js/notification/SmartNotification.min.js"></script>

    <!-- JARVIS WIDGETS -->
    <script src="../Content/js/smartwidgets/jarvis.widget.min.js"></script>

    <!-- EASY PIE CHARTS -->
    <script src="../Content/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

    <!-- SPARKLINES -->
    <script src="../Content/js/plugin/sparkline/jquery.sparkline.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="../Content/js/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="../Content/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!-- JQUERY SELECT2 INPUT -->
    <script src="../Content/js/plugin/select2/select2.min.js"></script>

    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="../Content/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

    <!-- browser msie issue fix -->
    <script src="../Content/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

    <!-- JQUERY RATING -->
    <script src="../Content/js/jquery.MetaData.js"></script>
    <script src="../Content/js/jquery.rating.js"></script>

    <!-- MAIN APP JS FILE -->
    <script src="../Content/js/app.js"></script>

    <!-- GOOGLE API -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&language=vi"></script>
</head>
<body>
    <!-- HEADER -->
    <header id="header">
        <div id="logo-group">

            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo">
                <img src="../Content/img/logo.png" alt="SmartAdmin">
            </span>
            <!-- END LOGO PLACEHOLDER -->

        </div>

        <!-- pulled right: nav area -->
        <div class="pull-right">
            <!-- fullscreen button -->
            <div id="fullscreen" class="btn-header transparent pull-right">
                <span><a href="javascript:void(0);" onclick="launchFullscreen(document.documentElement);" title="Full Screen"><i class="fa fa-fullscreen"></i></a></span>
            </div>
            <!-- end fullscreen button -->
            <div id="fb-root" style="display: inline; margin-left: 20px;"></div>
            @if (Request.IsAuthenticated)
            {
                <!-- logout button -->
                <div class="btn-header transparent pull-right">
                    <span><a id="logout-all" href="/Account/Logout"><i class="fa fa-sign-out"></i></a></span>
                </div>
                <ul class="header-dropdown-list">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            <span>@(User.Identity.Name.Split(Char.Parse(Constants.Minus))[1])</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:void(0);">Thông tin cá nhân</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Đổi mật khẩu</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:void(0);">Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
                </ul>                         
            }
            else
            {              
                <div class="btn-header transparent pull-right">
                    <span>Đăng nhập qua <a href="#" id="fb-login" style="color: #296191 !important;"><i class="fa fa-facebook"></i></a></span>
                </div>
            }
            <!-- end logout button -->
        </div>
        <!-- end pulled right: nav area -->

        <!-- projects dropdown -->

        <!-- end projects dropdown -->
    </header>
    <!-- END HEADER -->

    <!-- MAIN CONTENT -->
    @RenderBody()
    <!-- END MAIN CONTENT -->

    <!-- FACEBOOK LOGIN -->
    <script type="text/javascript">
        $(document).ready(function () {
            if (document.getElementById('fb-root') != undefined) {
                var e = document.createElement('script');
                e.type = 'text/javascript';
                e.src = document.location.protocol + '//connect.facebook.net/vi_VN/all.js';
                e.async = true;
                document.getElementById('fb-root').appendChild(e);
            }
        });

        window.fbAsyncInit = function () {
            FB.init({
                appId: '@(Constants.FacebookAppId)',
                status: true,
                cookie: false,
                xfbml: true,
                version: 'v2.0'
            });
        };

        $('#fb-login').click(function () {
            facebookLogin();
        });

        $('#logout-all').click(function (event) {
            // Remember the link href
            var href = this.href;

            // Don't follow the link
            event.preventDefault();

            // Clear facebook's session before system's session
            facebookLogout(href);
        });

        function facebookLogin() {
            FB.login(function (response) {
                if (response.authResponse) {
                    /*
                    console.log('Welcome!  Fetching your information.... ');
                    FB.api('/me', function (response) {
                        console.log('Good to see you, ' + response.name + '.');
                    });
                    */
                    checkUserState();
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            }, {
                scope: 'publish_actions,email,user_friends,user_birthday,user_photos',
                return_scopes: true
            });

        }

        function facebookLogout(href) {
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    FB.logout(function (response) {
                        console.log('User has logged out...');

                        // Clear system's session
                        window.location = href;
                    });
                } else {
                    // Clear system's session
                    window.location = href;
                }
            });

        }

        function checkUserState() {
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    // the user is logged in and has authenticated your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token 
                    // and signed request each expire
                    var uid = response.authResponse.userID;
                    var accessToken = response.authResponse.accessToken;
                    console.log(uid + ' - ' + accessToken);
                    window.location = '/Account/FacebookLogin?token=' + accessToken;
                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook, 
                    // but has not authenticated your app
                    console.log('not_authorized');
                } else {
                    // the user isn't logged in to Facebook.
                    console.log('not_logged');
                }
            });
        };

    </script>

    <!-- Your GOOGLE ANALYTICS CODE Below -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-43548732-3']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>

